@font-face {
  font-family: "National Park";
  font-weight: 200 800;
  font-display: swap;
  src: url("fonts/NationalPark-VariableVF.woff2") format("woff2") tech(variations);
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100 800;
  font-display: swap;
  src: local("JetBrains Mono"), url("fonts/JetBrainsMono[wght].woff2") format("woff2");
}

@font-face {
  font-family: "Heal the Web A";
  font-display: swap;
  src: url("fonts/HealTheWebA-Regular.woff2") format("woff2");
}

:root {
  --text: rgb(0, 0, 0);
  --background: rgb(252, 248, 228);
  --accent: rgb(0, 0, 255);
  --primary: rgb(255, 0, 0);
  --secondary: rgb(255, 255, 0);

  --inline-code: rgba(0, 0, 0, 0.16);
  --code-block-shadow: rgba(0, 0, 0, 0.6);
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--text);
}

body {
  max-width: 90ch;
  width: 100%;
  margin: 4rem auto auto auto;
  padding: 0 2rem;
  line-height: 1.8;
  font-family: "National Park", sans-serif;
  font-size: 1rem;
}

/* HEADINGS */
h1 {
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 2.6rem;
}

/* LINKS */
a {
  color: inherit;
  text-decoration-color: var(--accent);
  text-decoration-thickness: .05rem;
  text-decoration-style: dotted;
  text-underline-offset: .3rem;
}

a:hover {
  text-decoration-color: var(--primary);
  text-decoration-thickness: .1rem;
  text-decoration-style: solid;
}

/* TABLES */
table {
  border-collapse: collapse;
  margin: 2rem 0;
}

thead tr {
  text-align: left;
  border-bottom: medium solid;
}

tbody tr {
  border-bottom: thin solid;
}

th, td {
  padding: 0.5rem 2rem;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: .9rem;
  margin: 6rem 0 2em 0;
}

/* CODE */
pre {
  overflow: auto;
  line-height: 1.3;
  padding: .7rem;
  border: thin solid var(--text);
  border-radius: .3rem;
  box-shadow: .2rem .2rem var(--code-block-shadow);
}

code {
  font-family: "JetBrains Mono", monospace;
  font-size: .9rem;
}

*:not(pre) > code {
  white-space: nowrap;
  font-size: .9rem;
  padding: 0.1rem 0.3rem;
  background-color: var(--inline-code);
  border-radius: .25rem;
}

/* HOMEPAGE HEADING */
#logo {
  margin-bottom: 6rem;
  font-family: "Heal the Web A", sans-serif;
  font-size: 10rem;
  color: rgb(255, 255, 255);
  text-shadow: .6rem .3rem var(--accent), -.4rem -.2rem var(--primary);
}

/* TABLES ON LIST PAGES */
.listing {
  margin: unset;
}

.listing tbody tr {
  border-bottom: unset;
}

.listing td {
  padding: 0 1rem;
}

.listing td:nth-child(1) {
  text-align: right;
  vertical-align: middle;
}

.listing td:nth-child(2) {
  font-weight: 500;
  font-size: 1.2rem;
}

.listing td:nth-child(3) a {
  text-decoration: none;
  font-size: .9rem;
  border: thin solid;
  border-radius: 1rem;
  padding: .25rem .5rem;
  transition: background-color 1s ease;
}

.listing td:nth-child(3) a:hover {
  background-color: var(--secondary);
  transition: all .5s ease;
}

@media (max-width: 768px) {
  body::before {
    content: "Come back when you have a larger screen.";
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    padding: 2rem;
    text-align: center;
    background: var(--background);
  }

  body > * {
    display: none;
  }
}

/* TAG SPAN */
.tag {
  font-size: 6rem;
  color: var(--primary);
}
